:root {
  --darkest: #151618;
  --dark: #4b4949;
  --mid: #212936;
  --light: #ebecee;
  --lightest: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--darkest);
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*=============================================================================*/
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkest);
  color: var(--lightest);
  font-size: large;
  padding: 2rem;
}

header {
  font-size: 3rem;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  padding: 1rem;
}

/*=============================================================================*/
main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background: linear-gradient(to right, var(--mid) 50%, var(--dark) 50%);
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
}

.section-1 > * {
  flex-grow: 1;
}

.col-1,
.col-2 {
  display: flex;
}

.col-1 {
  justify-content: center;
  background-color: var(--dark);
  padding: 1rem;
  order: 2;
}

.hero-img {
  max-width: 100%;
  object-fit: contain;
}

.col-2 {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mid);
  padding: 1rem;
  gap: 2rem;
  order: 1;
}

.hero-text-container {
  display: flex;
  justify-content: left;
  color: var(--light);
  font-size: large;
}

p {
  width: 85%;
  text-align: left;
}

/*=============================================================================*/
.section-2 {
  display: flex;
  justify-content: center;
  background-color: var(--light);
  width: 100%;
}

.photo-strip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  max-width: 1200px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

/*=============================================================================*/
.contact-card {
  flex-direction: column;
  padding: 2rem;
  color: var(--lightest);
  text-align: center;
}

.contact-card a {
  color: inherit;
  text-decoration: underline;
  font-weight: inherit;
}

.contact-header {
  font-weight: bold;
}

/*=============================================================================*/
/* Tablets */
@media (max-width: 768px) {
  .section-1 {
    grid-template-columns: 1fr;
  }
  .col-1 {
    order: 1;
  }
  .col-2 {
    order: 2;
  }
  .hero-img {
    max-width: 100%;
  }
  p {
    width: 100%;
    text-align: center;
  }
}

/* Phones */
@media (max-width: 480px) {
  .photo-strip {
    grid-template-columns: 1fr;
  }
}
