:root {
  --darkest: #151618;
  --dark: #4b4949;
  --mid: #212936;
  --light: #ebecee;
  --lightest: #f5f5f5;

  /* --darkest: #1f2937;
  --dark: #1f2937;
  --mid: #212936;
  --light: #e5e7eb;
  --lightest: #f9faf8; */

  /* --darkest: #32292F;
    --dark: #575366;
    --light: #6E7DAB;
    --lightest: #D1E3DD; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*=============================================================================*/
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkest);
  color: var(--lightest);
  font-size: large;
  padding: 2rem;
}

header {
  font-size: 3rem;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  padding: 1rem;
}

/*=============================================================================*/
main {
  flex-grow: 1;
}

.section-1,
.section-2{
  display: flex;
}

.section-1 {
  flex-direction: column;
  background-color: var(--dark);
  gap: 2rem;
  padding: 2rem;
}

.hero-img-container {
  display: flex;
  justify-content: center;
}

.hero-img {
  max-width: 40%;
  border-radius: 0.5rem;
  object-fit: contain;
}

.hero-text-container {
  color: var(--lightest);
  font-size: large;
  display: flex;
  justify-content: center;
}

p {
  width: 50%;
  margin: 0;
  text-align: center;
}

/*=============================================================================*/
.section-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--light);
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 1rem;
}

.card {
  flex: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card-img {
  width: 100%;
  border-radius: 8px;
}

/*=============================================================================*/

.contact-card {
  flex-direction: column;
  padding: 2rem;
  color: var(--lightest);
  text-align: center;
}

.contact-header {
  font-weight: bold;
}

/*=============================================================================*/
/* Small phones */
@media (max-width: 600px) {
  .hero-img {
    max-width: 100%;
  }
  p {
    width: 100%;
  }
  .card{
    flex: 1;
    max-width: 100%;
  }
}
